{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    {% block style %}

    {% endblock style %}

    <link rel="icon" href="" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
    <meta name="msapplication-config" content="{% static 'images/browserconfig.xml' %}" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">


</head>
<body>
    {% include "p_track_app/header.html" %}

    <main class="main">


        <div class="notify-container">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div onclick="toggle()" class="danger-alert alert show-alert">
                            <span class="msg"> <span class="alert-type">Error: </span> {{ message }} </span>
                        </div>
                    {% elif message.tags == 'info' %}
                        <div onclick="toggle()" class="info-alert alert show-alert">
                            <span class="msg"> <span class="alert-type">Info: </span> {{ message }} </span>
                        </div>
                    {% elif message.tags == 'success' %}
                        <div onclick="toggle()" class="success-alert alert show-alert">
                            <span class="msg"> <span class="alert-type">Success: </span> {{ message }} </span>
                        </div>
                    {% elif message.tags == 'warning' %}
                        <div onclick="toggle()" class="warning-alert alert show-alert">
                            <span class="msg"> <span class="alert-type">Warning: </span> {{ message }} </span>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>


        <div class="main-section">

            <section class="content-section">

                {% block content %}

                {% endblock content %}

            </section>

            <section class="illustration-section">
                <img src="{% static 'images/l_img.png' %}" alt="square box illustration">
            </section>
            
        </div>
    </main> 

    {% block script %}
    
    {% endblock script %}

{% if messages %}
    <script>
        function toggle(){
            let btn_list = document.getElementsByClassName('alert')

            for (var i=0; i < btn_list.length; i++){
                btn_list[i].style.display = 'none';
            }

        }

        setTimeout(function (){
            let btn_list = document.getElementsByClassName('alert')

            for (var i=0; i < btn_list.length; i++){
                btn_list[i].style.display = 'none';
            }
        }, 8000)
    </script>
{% endif %}
</body>
</html>