{% extends "p_track_app/base.html" %}
{% load static %}

{% block title %}
    View category
{% endblock title %}

{% block style %}

<style>
/* form style */
.form-field-input {
    margin: 0;
    border: black 1px solid;
    width: calc(100% - 20px);
}

.btn-submit {
    border: none;
}

</style>

{% endblock style %}

{% block content %}
<a href="{% url 'home' %}" class="back-arrow-container link">
    <img src="{% static 'images/arrow.svg' %}" alt="back arrow image.">
</a>

<div class="category-section">

    <div class="info-section">
        <p class="main-heading">
            Category Notes
        </p>
        <p class="main-heading-desc">
            Create notes under this category and view them by clicking on them.
        </p>
    </div>

    <div class="field-data-container">
        <div class="field-container">
            <p class="field-label">Category</p>
            <div class="field">{{category.category}}</div>
        </div>
        <div class="field-container">
            <p class="field-label">Description</p>
            <pre class="field desc-text">{{category.description}}</pre>
        </div>

        <div class="btn-container">
            <a href="{% url 'update-category' category.id %}" class="btn btn-update">Update Category</a>
            <a href="{% url 'delete-category' category.id %}" class="btn btn-delete">Delete Category</a>
        </div>
    </div>
</div>

<div class="notes-section">

    <div class="info-section">
        <p class="main-heading">
            Notes
        </p>
        <p class="main-heading-desc">
            Notes Created under this category.
        </p>

    </div>

    <div class="btn-container">
        <a href="{% url 'create-note' category.id %}" class="btn btn-update">Create Note</a>
    </div>

    {% if category_notes %}
    <ul class="field-data-container">
        {% for note in category_notes %}
        <li class="field field-container">
            <a href="{% url 'view-note' note.id %}" class="link li-a "><b>{{forloop.counter}}. </b>{{note.title}}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="main-heading-desc">
        You don't have any notes under this category yet.
    </p>
    <p class="main-heading-desc">
        Create your first note under this category.
    </p>
    {% endif %}
</div>

{% endblock content %}


{% block script %}
    
{% endblock script %}